<h3>Rails</h3>
<ul id="code_list_rails">
<% $rails.each do |code| %>
  <li><a href="/code/rails/<%= code[:name] %>"><%= code[:human] %></a></li>
<% end %>
</ul>

<h3>Ruby</h3>
<ul id="code_list_ruby">
<% $ruby.each do |code| %>
  <li><a href="/code/ruby/<%= code[:name] %>"><%= code[:human] %></a></li>
<% end %>
</ul>

<h3>Some Explanations</h3>
<ul id="code_list_explain">
<% $explains.each do |code| %>
  <li><a href="/code/explains/<%= code[:name] %>"><%= code[:human] %></a></li>
<% end %>
</ul>